@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --cor-preta-solida: #000000;
  --cor-branco-de-fundo: #eeeeee;
  --cor-branco-solida: #ffffff;
  --cor-azul-solida: #0e333d;
  --cor-azul-gradiente: linear-gradient(0deg,
      rgba(25, 94, 112, 1) 0%,
      rgba(14, 51, 61, 1) 100%);
}

body {
  background: var(--cor-branco-de-fundo);
}

/*Seção Navbar*/

.containerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 15dvh;
  margin: 0 auto;
  align-items: center;
}

.logoHeader {
  display: flex;
  height: 30px;
}

.logoHeader img {
  width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.menu li {
  padding: 8px;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--cor-azul-solida);
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu li:hover {
  color: var(--cor-azul-gradiente);
  /*configuração para deixar o texto com uma cor gradiente*/
  background-image: var(--cor-azul-gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*Seção Home*/

.containerHome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 70dvh;
  margin: 0 auto;
  margin-top: 48px;
}

.containerTextHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textHome {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 90%;
}

h1 {
  max-width: 24ch;
  font-size: 48px;
  font-weight: 500;
  /*configuração para deixar o texto com uma cor gradiente*/
  background-image: var(--cor-azul-gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.paragrafoHome {
  max-width: 48ch;
  color: var(--cor-preta-solida);
  font-size: 20px;
}


.buttonHome {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(111, 126, 131, 1) 100%);
  height: 48px;
  border-radius: 40px;
}

.buttonHome a {
  position: absolute;
  display: inline;
  height: 48px;
  text-decoration: none;
  padding: 10px 48px;
  border-radius: 40px;
  background: var(--cor-azul-solida);
  color: var(--cor-branco-solida);
  font-size: 20px;
  transition: background 0.3s ease;
}

.buttonHome a:hover {
  background: var(--cor-azul-gradiente)
}

.imageHome {
  background-image: url(../images/imageHome.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
}

/*Conteudo do meio*/

.containerMiddle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  height: 555px;
  margin: 0 auto;
}

.imageMiddle {
  width: 90%;
  background-image: url(../images/imageMiddle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.containerTextMiddle {
  display: flex;
  align-items: center;
}

.textMiddle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textMiddle h2 {
  max-width: 18ch;
  font-size: 48px;
  font-weight: 500;
  /*configuração para deixar o texto com uma cor gradiente*/
  background-image: var(--cor-azul-gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.paragrafoMiddle {
  max-width: 48ch;
  color: var(--cor-preta-solida);
  font-size: 20px;
  font-weight: 300;
}

.textMiddle a {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  height: 48px;
  padding: 10px 48px;
  border-radius: 40px;
  background: var(--cor-azul-solida);
  text-decoration: none;
  transition: background 0.3s ease;
}

span {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--cor-branco-solida);
}


.textMiddle a:hover {
  background: var(--cor-azul-gradiente)
}

/*Seção Blog*/

.containerBlog {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.containerBlog h2 {
  font-size: 60px;
  /*configuração para deixar o texto com uma cor gradiente*/
  background-image: var(--cor-azul-gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.containerBlogPost {
  display: flex;
  gap: 20px;
}

.textBlog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.textBlog h3 {
  font-size: 48px;
  /*configuração para deixar o texto com uma cor gradiente*/
  background-image: var(--cor-azul-gradiente);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.textBlog p {
  font-size: 20px;
  font-weight: 300;
  color: var(--cor-preta-solida);
}

/*Seção de CTA*/

.containerCTA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 1200px;
  height: 448px;
  margin: 0 auto;
  background: var(--cor-azul-gradiente);
  border-radius: 50px;
}

.containerCTA h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--cor-branco-solida)
}

.containerCTA p {
  width: 55ch;
  text-align: center;
  font-size: 20px;
  color: var(--cor-branco-solida)
}

.containerCTA a {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  height: 48px;
  padding: 10px 48px;
  border-radius: 40px;
  background: var(--cor-branco-solida);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-preta-solida);
  text-decoration: none;
}

/*Seção Footer*/

footer {
  margin-top: 100px;
  background: #18596B;
}

.containerFooter {
  display: flex;
  flex-direction: column;
  gap: 86px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 69px;
}

.contentFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logoFooter {
  display: flex;
  flex-direction: column;
  width: 180px;
  gap: 18px;
}

.imageFooter {
  width: 100%;
}

.imageFooter img {
  width: 100%;
}

.logoFooter p {
  font-size: 14px;
  font-weight: 300;
  color: var(--cor-branco-solida);
}

.menuFooter {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}

.menuFooterContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menuFooterContent .menuFooterContentTitle {
  margin-bottom: 6px;
  font-weight: 800;
  color: var(--cor-branco-solida);
  cursor: pointer;
}

.menuFooterContent li {
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  color: var(--cor-branco-solida);
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  border-top: 1px solid var(--cor-branco-solida);
}

.details p {
  font-size: 14px;
  font-weight: 800;
  color: var(--cor-branco-solida);
}

@media (min-width: 1200px) and (max-width: 1440px) {

  .containerNavbar,
  .containerHome,
  .containerMiddle,
  .containerBlog {
    max-width: 90%;
  }
}

@media (max-width: 1200px) {

  .containerNavbar,
  .containerHome,
  .containerMiddle,
  .containerBlog {
    max-width: 90%;
  }
}